body {
      margin: 0;
      padding: 0;
    }
    .bottom {
      background-color: black;
      height: 100px;
    }
   .top {
      background-color: black;
      height: 120px;
      text-align: center;
    }
    
    .middleIndex {
      background-size: cover;
      background-position: center;
      height: 800px;
      background-image: url('Civilizações.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .rus {
      background-size: cover;
      background-position: center;
      height: 800px;
      background-image: url('rus.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .middle {
      background-size: cover;
      background-position: center;
    }
     .container {
      display: block;
      text-align: center;
      background-position: center;
    }
      .container2 {
      display: flex;
      text-align: center;
      background-position: center;
    }

    .container button {
      margin: 10px;
      border-radius: 10px 10px 10px 10px;
      background-color: #000000;
      color: white;
      font-size: 26px;
      color: #F6EDBB;
    }
    .box {
      flex: 1;
      height: 200px;
      text-align: center;
      padding: 10px;
      margin: 10px;
      color: #8A6733;
    }
    .box4 {
      flex: 1;
      text-align: center;
      padding: 10px;
      margin: 10px;
      color: #8A6733;
    }
    .container3 {
      width: 100%;
      height: 80vh; /* 100% da altura da janela do navegador */
      display: flex;
    }
    .box2 {
      flex: 1;
      height: 50vh; /* 80% da altura da janela do navegador */
      border: 1px solid #000;
      box-sizing: border-box;
      text-align: center;
      line-height: 50vh;
      font-size: 24px;
    }
.box3 {
      flex: 1;
      height: 50vh; /* 35% da altura da janela do navegador */
      border: 1px solid #000;
      box-sizing: border-box;
      text-align: center;
      line-height: 50vh;
      font-size: 24px;
    }

    .container3 {
      width: 100%;
      height: 80vh; /* 100% da altura da janela do navegador */
      display: flex;
    }
    .box5 {
      flex: 1;
      height: 70vh; /* 50% da altura da janela do navegador */
      box-sizing: border-box;
      text-align: center;
      line-height: 50vh;
      font-size: 24px;
      position: relative; /* Adicionamos essa propriedade para que as divs internas se posicionem em relação a esta div */
    }
    .sub-box5 {
      width: 91%; /* Ocupar toda a largura da div pai */
      height: 50%; /* Dividir o espaço em duas partes iguais */
      top: 25%; /* Posicionar a primeira sub-div na metade da altura da div pai */
      left: 0; /* Alinhar à esquerda */
      background-color: #87CEEB; /* Cor de fundo (pode ser alterada) */
      border: 20px solid white; /* Adicionamos uma borda para melhor visualização */
      text-align: center;
      line-height: 50vh;
      font-size: 18px;
    }
    .sub2-box5{
      width: 91%; /* Ocupar toda a largura da div pai */
      height: 50%; /* Dividir o espaço em duas partes iguais */
      top: 25%; /* Posicionar a primeira sub-div na metade da altura da div pai */
      left: 0; /* Alinhar à esquerda */
      background-color: #87CEEB; /* Cor de fundo (pode ser alterada) */
      border: 20px solid white; /* Adicionamos uma borda para melhor visualização */
      text-align: center;
      line-height: 50vh;
      font-size: 18px;
      background-image: url('a1.png');
     }    
    .sub3-box5 {
      width: 91%; /* Ocupar toda a largura da div pai */
      height: 50%; /* Dividir o espaço em duas partes iguais */
      top: 25%; /* Posicionar a primeira sub-div na metade da altura da div pai */
      left: 0; /* Alinhar à esquerda */
      background-color: #87CEEB; /* Cor de fundo (pode ser alterada) */
      border: 20px solid white; /* Adicionamos uma borda para melhor visualização */
      text-align: center;
      line-height: 50vh;
      font-size: 18px;
      background-image: url('rus2.jpg');
     }

